.greetingText {
    text-align: center;
    margin-top: 48px;
}

.formIndex {
    width: 100%;

    .formAction {
        margin-top: 16px;
    }
}

.supportParent {
    margin-top: 24px;
}

.actionParent {
    padding-top: 24px;
}
